.filterWrapp {
    display: flex;
    flex-direction: column;
}

.filterTitle {
    color: white;
    text-align: start;
}

.filterInput{
    padding: 10px;
    border-radius: 5px;
    outline-style: none;
    border: none;
}