.formWrapper {
  width: -webkit-fill-available;
}

.txt {
  color: white;
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  padding: 10px;
  color:grey;
  border-radius: 5px;
  border: none;
}

.button {
  background-color: white;
  color:steelblue;
  border: none;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: steelblue;
  color: white;
  border: 1px solid white;
}

.button:focus {
  background-color: steelblue;
  color: white;
  border: 1px solid white;
}
